#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

#search-input-container {
  position: relative;
  display: inline-block;
}

#search-input-container input {
  color: #333;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  width: 370px;
  height: 60px;
  padding-left: 20px;
  outline: none;
}

#search-input-container input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  color: #8d8d8d;
}

legend {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
}

#loading-spinner {
  display: block;
}

#search-icon {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  fill: #333;
}

#search-legend {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #a1a1a1;
  position: absolute;
  top: 8%;
  left: 20px;
  transform: translateY(-90%);
  border: none;
  background: #fff;
  width: 40px;
}

#results-container {
  position: relative;
  display: block;
  margin-top: 10px;
  border-radius: 5px;
  width: 370px;
  height: 110px;
  padding: 10px;
  background: #f4f4f4;
}

#results-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 40px;
  height: 40px;
  background: #f4f4f4;
  transform: rotate(45deg);
}
